.grid {
  display: grid;
  grid-template-columns: 300px 300px;
}

.grid-item1 {
	background-color: #BCFFB5;
}

.grid-item2 {
	background-color: #FFD769;
}

.grid-item {
	padding: 10px;
}

.index {
	color: #3F3CFF;
}